# 위키백과 기준, 
# 하계 올림픽 금메달 많이 받은 국가 순서로 정렬
# 엑셀파일로 저장하기

In [1]:
import pandas as pd
import numpy as np

## 1. 위키백과 데이터를 가져오기

In [2]:
df = pd.read_html('https://ko.wikipedia.org/wiki/%EC%98%AC%EB%A6%BC%ED%94%BD_%EB%A9%94%EB%8B%AC_%EC%A7%91%EA%B3%84')
print(df)

[             국가 (IOC 코드)  하계 참가 횟수  Unnamed: 2  Unnamed: 3  Unnamed: 4      계  \
0           아프가니스탄 (AFG)        14           0           0           2      2
1              알제리 (ALG)        13           5           4           8     17
2            아르헨티나 (ARG)        24          21          25          28     74
3            아르메니아 (ARM)         6           2           6           6     14
4    오스트랄라시아 (ANZ) [ANZ]         2           3           4           5     12
..                   ...       ...         ...         ...         ...    ...
148       독립 (IOA) [IOA]         3           1           0           1      2
149    독립 참가 (IOP) [IOP]         1           0           1           2      3
150  러시아 출신 올림픽 선수 (OAR)         0           0           0           0      0
151       혼성 (ZZX) [ZZX]         3           8           5           4     17
152                   총합        28        5116        5082        5490  15688

     동계 참가 횟수  Unnamed: 7  Unnamed: 8  Unnamed: 9   계.1  전체 참가 횟수  \
0           0           0           0           0     0        14
1           3           0           0           0     0        16
2          19           0           0           0     0        43
3           7           0           0           0     0        13
4           0           0           0           0     0         2
..        ...         ...         ...         ...   ...       ...
148         0           0           0           0     0         3
149         0           0           0           0     0         1
150         1           2           6           9    17         1
151         0           0           0           0     0         3
152        23        1062        1058        1050  3170        51

     Unnamed: 12  Unnamed: 13  Unnamed: 14     총합
0              0            0            2      2
1              5            4            8     17
2             21           25           28     74
3              2            6            6     14
4              3            4            5     12
..           ...          ...          ...    ...
148            1            0            1      2
149            0            1            2      3
150            2            6            9     17
151            8            5            4     17
152         6178         6140         6540  18858

[153 rows x 16 columns],                  국가 (IOC 코드)  하계 참가 횟수  동계 참가 횟수  전체 참가 횟수
0                 알바니아 (ALB)         8         4        12
1              아메리칸사모아 (ASA)         8         1         9
2                  안도라 (AND)        11        12        23
3                  앙골라 (ANG)         9         0         9
4              앤티가 바부다 (ANT)        10         0        10
..                       ...       ...       ...       ...
74          중화민국 (ROC) [ROC]         3         0         3
75            자르 (SAA) [SAA]         1         0         1
76           북예멘 (YAR) [YAR]         2         0         2
77  에멘 인민 민주 공화국 (YMD) [YMD]         1         0         1
78            난민 (ROT) [ROT]         1         0         1

[79 rows x 4 columns],                      국가 (IOC 코드) 하계 참가 횟수  Unnamed: 2  Unnamed: 3  Unnamed: 4  \
0                    독일 (GER)[5]       16         191         192         232
1              독일 (GER) (EUA)[6]       19         219         246         268
2        독일 (GER) (EUA) (FRG)[7]       24         275         313         349
3  독일 (GER) (EUA) (FRG) (GDR)[8]    25[9]         428         442         476

      계  동계 참가 횟수  Unnamed: 7  Unnamed: 8  Unnamed: 9  계.1 전체 참가 횟수  \
0   615        12          92          88          60  240       28
1   733        15         100          94          65  259       34
2   937        21         111         109          78  298       45
3  1346        21         150         145         113  408    46[9]

   Unnamed: 12  Unnamed: 13  Unnamed: 14    총합
0          283          280          292   855
1          319          340          333   992
2          386          422          427  1235
3          578          587          589  1754  ,                                 국가 (IOC 코드)  하계 참가 횟수  Unnamed: 2  Unnamed: 3  \
0                       러시아 출신 올림픽 선수 (OAR)         0           0           0
1                             러시아 (RUS)[10]         6         148         125
2                       러시아 (RUS) (RU1)[11]         9         149         129
3                               소련 (URS)[7]         9         395         319
4                         소련 (URS) (EUN)[8]        10         440         357
5  러시아 (RUS) (RU1) (OAR) 소련 (URS) (EUN)[12]        19         590         485

   Unnamed: 4     계  동계 참가 횟수  Unnamed: 7  Unnamed: 8  Unnamed: 9  계.1  \
0           0     0         1           2           6           9   17
1         153   426         6          47          38          35  120
2         156   434         6          47          38          35  120
3         296  1010         9          78          57          59  194
4         325  1122        10          87          63          67  217
5         481  1556        17         136         107         111  354

   전체 참가 횟수  Unnamed: 12  Unnamed: 13  Unnamed: 14    총합
0         1            2            6            9    17
1        12          195          163          188   546
2        12          195          163          188   546
3        18          473          376          355  1204
4        20          527          420          392  1339
5        36          726          592          592  1910  ,                                                    0  \
0  ANZ → AUS , NZL 오스트랄라시아(ANZ)는 오스트레일리아(AUS)와 뉴질...

                                                   1
0  SRB , YUG → IOP , SCG 세르비아(SRB, 1912년, 2006년~현...  ,                                                    0  \
0  BIZ 벨리즈는 1968년부터 1972년까지 영국령 온두라스(HBR)로 참가하였다....

                                                   1
0  GUY 1996년 가이아나는 독립하기 이전에 영국령 기아나라는 명칭으로 1948년부...  ,                                                    0  \
0  A 브루나이는 1988년 대회에 선수 없이 임원 한 명만을 보내었다. 이는 참가 집...

                                                   1
0  F 2014년 대회에 인도의 선수들은 인도 올림픽 협회의 자격 정지로 개막식에 올림...  ,                                                    0  \
0  H 불가리아 올림픽 위원회는 소피아에 거주하던 스위스의 체조 교사인 샤를 샴포가 1...

                                                   1
0  N 모나코는 1924년 하계 올림픽 예술에서 동메달을 획득하였다.[15] 그러나 I...  ,   vte올림픽 메달 집계                                     vte올림픽 메달 집계.1
0       하계 올림픽  1896 1900 1904 1908 1912 1920 1924 1928 1932 1...
1       동계 올림픽  1924 1928 1932 1936 1948 1952 1956 1960 1964 1...
2   하계 청소년 올림픽                                     2010 2014 2018
3   동계 청소년 올림픽                                     2012 2016 2020,   vte올림픽 메달리스트 목록                                  vte올림픽 메달리스트 목록.1
0           하계 종목  근대5종 농구 다이빙 레슬링 배구 배드민턴 복싱 비치발리볼 사격 사이클(남/여) 수...
1           동계 종목  노르딕복합 루지 바이애슬론 봅슬레이 쇼트트랙 스노보드 스켈레톤 스키점프 스피드스케이...
2           과거 종목  가라데 라크로스 라켓 로크 모터보트 밀리터리패트롤 소프트볼 야구 주드폼 줄다리기 크...
3           시범 종목  개썰매 글라이딩 글리마 동계5종 라칸 롤러하키 무도 미식축구 밴디 볼링 사바트 스키...
4          비공식 종목  게일릭풋볼 기구 낚시 롱그폼 모터레이싱 모터사이클 불 비둘기레이싱 사이클폴로 소방 ...]

In [3]:
# header, index 설정
df = pd.read_html('https://ko.wikipedia.org/wiki/%EC%98%AC%EB%A6%BC%ED%94%BD_%EB%A9%94%EB%8B%AC_%EC%A7%91%EA%B3%84',
                  header=0,index_col=0)
print(df)

[                     하계 참가 횟수  Unnamed: 2  Unnamed: 3  Unnamed: 4      계  \
국가 (IOC 코드)
아프가니스탄 (AFG)               14           0           0           2      2
알제리 (ALG)                  13           5           4           8     17
아르헨티나 (ARG)                24          21          25          28     74
아르메니아 (ARM)                 6           2           6           6     14
오스트랄라시아 (ANZ) [ANZ]         2           3           4           5     12
...                       ...         ...         ...         ...    ...
독립 (IOA) [IOA]              3           1           0           1      2
독립 참가 (IOP) [IOP]           1           0           1           2      3
러시아 출신 올림픽 선수 (OAR)         0           0           0           0      0
혼성 (ZZX) [ZZX]              3           8           5           4     17
총합                         28        5116        5082        5490  15688

                     동계 참가 횟수  Unnamed: 7  Unnamed: 8  Unnamed: 9   계.1  \
국가 (IOC 코드)
아프가니스탄 (AFG)                0           0           0           0     0
알제리 (ALG)                   3           0           0           0     0
아르헨티나 (ARG)                19           0           0           0     0
아르메니아 (ARM)                 7           0           0           0     0
오스트랄라시아 (ANZ) [ANZ]         0           0           0           0     0
...                       ...         ...         ...         ...   ...
독립 (IOA) [IOA]              0           0           0           0     0
독립 참가 (IOP) [IOP]           0           0           0           0     0
러시아 출신 올림픽 선수 (OAR)         1           2           6           9    17
혼성 (ZZX) [ZZX]              0           0           0           0     0
총합                         23        1062        1058        1050  3170

                     전체 참가 횟수  Unnamed: 12  Unnamed: 13  Unnamed: 14     총합
국가 (IOC 코드)
아프가니스탄 (AFG)               14            0            0            2      2
알제리 (ALG)                  16            5            4            8     17
아르헨티나 (ARG)                43           21           25           28     74
아르메니아 (ARM)                13            2            6            6     14
오스트랄라시아 (ANZ) [ANZ]         2            3            4            5     12
...                       ...          ...          ...          ...    ...
독립 (IOA) [IOA]              3            1            0            1      2
독립 참가 (IOP) [IOP]           1            0            1            2      3
러시아 출신 올림픽 선수 (OAR)         1            2            6            9     17
혼성 (ZZX) [ZZX]              3            8            5            4     17
총합                         51         6178         6140         6540  18858

[153 rows x 15 columns],                           하계 참가 횟수  동계 참가 횟수  전체 참가 횟수
국가 (IOC 코드)
알바니아 (ALB)                       8         4        12
아메리칸사모아 (ASA)                    8         1         9
안도라 (AND)                       11        12        23
앙골라 (ANG)                        9         0         9
앤티가 바부다 (ANT)                   10         0        10
...                            ...       ...       ...
중화민국 (ROC) [ROC]                 3         0         3
자르 (SAA) [SAA]                   1         0         1
북예멘 (YAR) [YAR]                  2         0         2
에멘 인민 민주 공화국 (YMD) [YMD]         1         0         1
난민 (ROT) [ROT]                   1         0         1

[79 rows x 3 columns],                               하계 참가 횟수  Unnamed: 2  Unnamed: 3  Unnamed: 4  \
국가 (IOC 코드)
독일 (GER)[5]                         16         191         192         232
독일 (GER) (EUA)[6]                   19         219         246         268
독일 (GER) (EUA) (FRG)[7]             24         275         313         349
독일 (GER) (EUA) (FRG) (GDR)[8]    25[9]         428         442         476

                                  계  동계 참가 횟수  Unnamed: 7  Unnamed: 8  \
국가 (IOC 코드)
독일 (GER)[5]                     615        12          92          88
독일 (GER) (EUA)[6]               733        15         100          94
독일 (GER) (EUA) (FRG)[7]         937        21         111         109
독일 (GER) (EUA) (FRG) (GDR)[8]  1346        21         150         145

                               Unnamed: 9  계.1 전체 참가 횟수  Unnamed: 12  \
국가 (IOC 코드)
독일 (GER)[5]                            60  240       28          283
독일 (GER) (EUA)[6]                      65  259       34          319
독일 (GER) (EUA) (FRG)[7]                78  298       45          386
독일 (GER) (EUA) (FRG) (GDR)[8]         113  408    46[9]          578

                               Unnamed: 13  Unnamed: 14    총합
국가 (IOC 코드)
독일 (GER)[5]                            280          292   855
독일 (GER) (EUA)[6]                      340          333   992
독일 (GER) (EUA) (FRG)[7]                422          427  1235
독일 (GER) (EUA) (FRG) (GDR)[8]          587          589  1754  ,                                           하계 참가 횟수  Unnamed: 2  Unnamed: 3  \
국가 (IOC 코드)
러시아 출신 올림픽 선수 (OAR)                              0           0           0
러시아 (RUS)[10]                                    6         148         125
러시아 (RUS) (RU1)[11]                              9         149         129
소련 (URS)[7]                                      9         395         319
소련 (URS) (EUN)[8]                               10         440         357
러시아 (RUS) (RU1) (OAR) 소련 (URS) (EUN)[12]        19         590         485

                                          Unnamed: 4     계  동계 참가 횟수  \
국가 (IOC 코드)
러시아 출신 올림픽 선수 (OAR)                                0     0         1
러시아 (RUS)[10]                                    153   426         6
러시아 (RUS) (RU1)[11]                              156   434         6
소련 (URS)[7]                                      296  1010         9
소련 (URS) (EUN)[8]                                325  1122        10
러시아 (RUS) (RU1) (OAR) 소련 (URS) (EUN)[12]         481  1556        17

                                          Unnamed: 7  Unnamed: 8  Unnamed: 9  \
국가 (IOC 코드)
러시아 출신 올림픽 선수 (OAR)                                2           6           9
러시아 (RUS)[10]                                     47          38          35
러시아 (RUS) (RU1)[11]                               47          38          35
소련 (URS)[7]                                       78          57          59
소련 (URS) (EUN)[8]                                 87          63          67
러시아 (RUS) (RU1) (OAR) 소련 (URS) (EUN)[12]         136         107         111

                                          계.1  전체 참가 횟수  Unnamed: 12  \
국가 (IOC 코드)
러시아 출신 올림픽 선수 (OAR)                        17         1            2
러시아 (RUS)[10]                             120        12          195
러시아 (RUS) (RU1)[11]                       120        12          195
소련 (URS)[7]                               194        18          473
소련 (URS) (EUN)[8]                         217        20          527
러시아 (RUS) (RU1) (OAR) 소련 (URS) (EUN)[12]  354        36          726

                                          Unnamed: 13  Unnamed: 14    총합
국가 (IOC 코드)
러시아 출신 올림픽 선수 (OAR)                                 6            9    17
러시아 (RUS)[10]                                     163          188   546
러시아 (RUS) (RU1)[11]                               163          188   546
소련 (URS)[7]                                       376          355  1204
소련 (URS) (EUN)[8]                                 420          392  1339
러시아 (RUS) (RU1) (OAR) 소련 (URS) (EUN)[12]          592          592  1910  , Empty DataFrame
Columns: [SRB , YUG → IOP , SCG 세르비아(SRB, 1912년, 2006년~현재)는 1912년 처음 경기에 참가하였다. 유고슬라비아(YUG, 1920~1992년 동계)는 제2차 세계 대전 이전 1920년부터 1936년까지 유고슬라비아 왕국(1929년까지 정식 명칭은 세르비아-크로아티아-슬로베니아 왕국이었다.)으로 참가하였다. 해체 이전 모든 경기(1948년부터 1992년 동계)에는 유고슬라비아 사회주의 연방공화국이라는 이름으로 참가하였다. 크로아티아, 슬로베니아, 보스니아 헤르체고비나는 1992년부터 별개로 참가하고 있으며, 유고슬라비아 연방 공화국은 유고슬라비아 전쟁과 관련된 유엔 안전 보장 이사회의 제재로 인해, 마케도니아 공화국은 국가 올림픽 위원회가 없어서 독립 참가 선수단(IOP)으로 1992년 대회에 참가하였다. 마케도니아는 1996년부터 독자적으로 참가하고 있다. 세르비아 공화국과 몬테네그로 공화국으로 구성된 세르비아 몬테네그로(SCG, 1996~2006)은 1996년부터 2002년까지 유고슬라비아 연방 공화국으로, 2004년부터 2006년까지는 세르비아 몬테네그로로 참가하였다. 1912년 첫 참가 이후 96년 만인 2008년 대회부터 세르비아는 별개로 참가하고 있으며, 몬테네그로 역시 2008년 대회부터 독자적으로 올림픽에 참여하고 있다. YAR , YMD → YEM 1990년 예멘 통일 이전 북예멘은 예멘 아랍 공화국(YAR)으로 1984년과 1988년 대회에 참가하였고, 남예멘은 예멘 인민 민주 공화국(YMD)으로 1988년 대회에 참가하였다. 예멘(YEM)은 통일 이후 1992년부터 참여하고 있다. ROC → CHN , TPE 중화민국(ROC)은 1932년, 1936년, 1948년 대회에서 타이완을 포함한 중국(당시 CHN)으로 참가하였다. 국공 내전 이후 중화인민공화국(CHN)과 중화 타이베이(TPE)는 별개의 국가로 참가하고 있다. ZZX ZZX는 초기 올림픽(1896~1904)에 존재하였던 다국적 혼성 선수단에 사용된 특별 코드이다. 혼성 선수단이 획득한 메달은 각 개별 국가로 합산되지 않는다. IOA IOA는 IOC가 인정하지 않는 NOC의 선수들을 위해 사용된 특별 코드이다. 2000년 대회에서는 동티모르의 선수단이 개인 선수단(IOA)으로 참가하였다. 2012년 대회에서는 세 명의 전 네덜란드령 안틸레스 선수와 한 명의 남수단 선수가 독립 선수단(IOA)으로 참가하였다. 2016년 대회에서는 쿠웨이트의 선수단이 독립 선수단(IOA)으로 참가하였다. OAR OAR은 IOC가 2018년 동계 대회에 참가한 러시아 출신 선수들을 위해 사용된 특별 코드이다.]
Index: [], Empty DataFrame
Columns: [GUY 1996년 가이아나는 독립하기 이전에 영국령 기아나라는 명칭으로 1948년부터 1964년까지 참가한 적이 있다. HKG 홍콩(HKG)의 메달은 홍콩 차이나 체육 협회 올림픽 위원회의 선수들이 수상한 모든 메달을 포함한다. ‘홍콩’이라는 명칭으로는 1952년부터 1996년까지 참가하였으며, 2000년부터는 ‘홍콩 차이나’라는 이름으로 참여하고 있다. MYA 미얀마는 1948년부터 1988년까지 버마(BIR)로 참가하였다. SAM 사모아는 1994년부터 1996년까지 서사모아로 참가하였다. SRI 스리랑카는 1948년부터 1972년까지 실론(CEY)으로 참가하였다. TAN 탕가니카와 잔지바르는 1964년 4월 탄자니아로 통합하였지만 1964년 대회의 공식 기록에서는 탕가니카라는 명칭을 사용하였다. ZAM 잠비아는 1964년 대회의 마지막 날에 독립하였지만, 전체 경기에서는 북로디지아(NRH)로 참가하였다. ZIM 1980년 짐바브웨가 독립하기 이전에, 남로디지아는 1928년, 1960년, 1964년 대회에 로디지아(RHO)로 참가하였다.]
Index: [], Empty DataFrame
Columns: [F 2014년 대회에 인도의 선수들은 인도 올림픽 협회의 자격 정지로 개막식에 올림픽기와 함께 독립 선수단 자격으로 입장하였다. 2014년 2월 11일, IOC의 제재가 철회되어 인도 이름과 국기를 달고 경기에 참여할 수 있게 되었다. Ia Ib Ic 2000년 동티모르가 개인 선수단(IOA)으로 참가한 것, 2012년 네덜란드령 안틸레스가 독립 선수단(IOA)으로 참가한 것과 2016년 쿠웨이트가 독립 선수단(IOA)으로 참가한 것을 포함하지 않는다. Za Zb Zc Zd Ze Zf Zg Zh Zi Zj Zk Zl Zm 1896년, 1900년, 1904년 대회에서 혼성 선수단으로 참가한 것을 포함하지 않는다.]
Index: [], Empty DataFrame
Columns: [N 모나코는 1924년 하계 올림픽 예술에서 동메달을 획득하였다.[15] 그러나 IOC는 올림픽 예술의 메달을 더 이상 인정하고 있지 않다.[16] Oa Ob 1900년 하계 올림픽 육상 남자 마라톤에서 금메달을 획득한 프랑스의 육상 선수 미셸 테아토는 룩셈부르크에서 태어났다.[17] IOC는 이 메달을 프랑스의 기록으로 인정한다. Pa Pb 1904년 대회에서 알버트 코레이가 프랑스를 대표로 참가한 것에 대해 논쟁이 있다. 경기 공식 기록에서는 ‘시카고 육상 협회 색깔의 옷을 입은 프랑스인’이라고 기술하고 있지만, IOC는 그가 마라톤에서 획득한 메달을 미국의 기록으로 다룬다. 그러나 4mi 단체에서 코레이가 세 명의 미국인과 함께 수상한 은메달은 혼성 선수단의 기록으로 여겨 두 메달의 국적이 상충된다. Qa Qb 일부 자료에서는 1904년 하계 올림픽 레슬링 경기에서 두 명의 선수가 노르웨이 대표로 참가하여 금메달을 획득한 것으로 기록하지만,[18] IOC는 두 메달 모두 미국의 메달로 인정한다. R 1904년 대회에 참가한 미국의 마라톤 선수인 로버트 파울러는 뉴펀들랜드 출신이다. 이로 인해 뉴펀들랜드 식민지는 해당 대회에 참가한 독립국으로 종종 기록되기도 한다.[3] IOC는 이를 인정하고 있지 않다. S 이탈리아 선수인 프랭크 비조니는 1904년 하계 올림픽 사이클 남자 0.25mi 경기 참여 당시 미국에서 살고 있었다.[19] 그러나 IOC는 비조니를 미국 선수로 여기며, 이탈리아의 그 해 올림픽 참가를 인정하지 않는다.]
Index: [],                                                  vte올림픽 메달 집계.1
vte올림픽 메달 집계
하계 올림픽        1896 1900 1904 1908 1912 1920 1924 1928 1932 1...
동계 올림픽        1924 1928 1932 1936 1948 1952 1956 1960 1964 1...
하계 청소년 올림픽                                       2010 2014 2018
동계 청소년 올림픽                                       2012 2016 2020,                                                  vte올림픽 메달리스트 목록.1
vte올림픽 메달리스트 목록
하계 종목            근대5종 농구 다이빙 레슬링 배구 배드민턴 복싱 비치발리볼 사격 사이클(남/여) 수...
동계 종목            노르딕복합 루지 바이애슬론 봅슬레이 쇼트트랙 스노보드 스켈레톤 스키점프 스피드스케이...
과거 종목            가라데 라크로스 라켓 로크 모터보트 밀리터리패트롤 소프트볼 야구 주드폼 줄다리기 크...
시범 종목            개썰매 글라이딩 글리마 동계5종 라칸 롤러하키 무도 미식축구 밴디 볼링 사바트 스키...
비공식 종목           게일릭풋볼 기구 낚시 롱그폼 모터레이싱 모터사이클 불 비둘기레이싱 사이클폴로 소방 ...]

## 2. 하계 올림픽만 추출

In [4]:
df[0]
# 책에서는 df[1]로 되어 있음

,하계 참가 횟수,Unnamed: 2,Unnamed: 3,Unnamed: 4,계,동계 참가 횟수,Unnamed: 7,Unnamed: 8,Unnamed: 9,계.1,전체 참가 횟수,Unnamed: 12,Unnamed: 13,Unnamed: 14,총합
국가 (IOC 코드),,,,,,,,,,,,,,,
아프가니스탄 (AFG),14,0,0,2,2,0,0,0,0,0,14,0,0,2,2
알제리 (ALG),13,5,4,8,17,3,0,0,0,0,16,5,4,8,17
아르헨티나 (ARG),24,21,25,28,74,19,0,0,0,0,43,21,25,28,74
아르메니아 (ARM),6,2,6,6,14,7,0,0,0,0,13,2,6,6,14
오스트랄라시아 (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
독립 (IOA) [IOA],3,1,0,1,2,0,0,0,0,0,3,1,0,1,2
독립 참가 (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
러시아 출신 올림픽 선수 (OAR),0,0,0,0,0,1,2,6,9,17,1,2,6,9,17
혼성 (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
총합,28,5116,5082,5490,15688,23,1062,1058,1050,3170,51,6178,6140,6540,18858

In [5]:
summer = df[0].iloc[:,:5]
summer

                     하계 참가 횟수  Unnamed: 2  Unnamed: 3  Unnamed: 4      계
국가 (IOC 코드)
아프가니스탄 (AFG)               14           0           0           2      2
알제리 (ALG)                  13           5           4           8     17
아르헨티나 (ARG)                24          21          25          28     74
아르메니아 (ARM)                 6           2           6           6     14
오스트랄라시아 (ANZ) [ANZ]         2           3           4           5     12
...                       ...         ...         ...         ...    ...
독립 (IOA) [IOA]              3           1           0           1      2
독립 참가 (IOP) [IOP]           1           0           1           2      3
러시아 출신 올림픽 선수 (OAR)         0           0           0           0      0
혼성 (ZZX) [ZZX]              3           8           5           4     17
총합                         28        5116        5082        5490  15688

[153 rows x 5 columns]

In [6]:
# 컬럼명 변경
summer.columns = ['하계참가횟수','금','은','동','계']
summer

                     하계참가횟수     금     은     동      계
국가 (IOC 코드)
아프가니스탄 (AFG)             14     0     0     2      2
알제리 (ALG)                13     5     4     8     17
아르헨티나 (ARG)              24    21    25    28     74
아르메니아 (ARM)               6     2     6     6     14
오스트랄라시아 (ANZ) [ANZ]       2     3     4     5     12
...                     ...   ...   ...   ...    ...
독립 (IOA) [IOA]            3     1     0     1      2
독립 참가 (IOP) [IOP]         1     0     1     2      3
러시아 출신 올림픽 선수 (OAR)       0     0     0     0      0
혼성 (ZZX) [ZZX]            3     8     5     4     17
총합                       28  5116  5082  5490  15688

[153 rows x 5 columns]

## 3. 금메달 기준으로 정렬

In [7]:
summer.sort_values('금',ascending=False)

                              하계참가횟수     금     은     동      계
국가 (IOC 코드)
총합                                28  5116  5082  5490  15688
미국 (USA) [P] [Q] [R] [Z] [F]      27  1022   795   706   2523
소련 (URS) [URS]                     9   395   319   296   1010
영국 (GBR) [GBR] [Z]                28   263   295   293    851
중화인민공화국 (CHN) [CHN]               10   224   167   155    546
...                              ...   ...   ...   ...    ...
레바논 (LIB)                         17     0     2     2      4
세르비아 몬테네그로 (SCG) [SCG]             1     0     2     0      2
지부티 (DJI) [B]                      8     0     0     1      1
키프로스 (CYP)                        10     0     1     0      1
아프가니스탄 (AFG)                      14     0     0     2      2

[153 rows x 5 columns]

## 4. 엑셀 파일로 저장

In [11]:
summer.to_excel('하계올림픽메달.xlsx')