## 판다스 시리즈와 데이터 프레임의 이해

In [2]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    {'a':[4,5,6],
    'b':[7,8,9],
    'c':[10,11,12]})

In [3]:
df

   a  b   c
0  4  7  10
1  5  8  11
2  6  9  12

In [4]:
df[['a','b']]

   a  b
0  4  7
1  5  8
2  6  9

In [10]:
df.loc[0]

a     4
b     7
c    10
Name: 0, dtype: int64

In [11]:
df.loc[0,'a']

4

In [4]:
import numpy as np

In [5]:
df = pd.DataFrame(
    {'a':[4,5,6, np.nan,1],
    'b':[7,8,9, np.nan,1],
    'c':[10,11,12, np.nan,1]},
    index = [[1,1,2,2,3],['a','a','b','b','c']])

In [22]:
df2 = pd.DataFrame(np.arange(16).reshape(4,4),

                         index = [[1,1,2,2],['s1','s2','s1','s2']],

                         columns = [['apple','apple','banana','banana'], ['price','qty','price','qty']],

                         )

In [23]:
df2

     apple     banana
     price qty  price qty
1 s1     0   1      2   3
  s2     4   5      6   7
2 s1     8   9     10  11
  s2    12  13     14  15