## qxut으로 binning, bucketing 하기

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'A': range(1,11), 'B': np.random.randn(10)})
df

    A         B
0   1 -0.144635
1   2 -0.398242
2   3  0.074269
3   4  0.093163
4   5 -0.142899
5   6  1.066992
6   7 -1.376455
7   8 -0.270155
8   9  1.326304
9  10 -0.109082

In [3]:
df['ln_A'] = np.log(df.A)
df

    A         B      ln_A
0   1 -0.144635  0.000000
1   2 -0.398242  0.693147
2   3  0.074269  1.098612
3   4  0.093163  1.386294
4   5 -0.142899  1.609438
5   6  1.066992  1.791759
6   7 -1.376455  1.945910
7   8 -0.270155  2.079442
8   9  1.326304  2.197225
9  10 -0.109082  2.302585

In [4]:
pd.qcut?

In [5]:
df.A

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: A, dtype: int64

In [14]:
df2  = pd.qcut(df.A, 3, labels = ['good', 'median', 'bad'])

In [15]:
df2

0      good
1      good
2      good
3      good
4    median
5    median
6    median
7       bad
8       bad
9       bad
Name: A, dtype: category
Categories (3, object): ['good' < 'median' < 'bad']

In [16]:
pd.qcut(df.B, 2, labels=['good', 'bad'])

0    good
1    good
2     bad
3     bad
4    good
5     bad
6    good
7    good
8     bad
9     bad
Name: B, dtype: category
Categories (2, object): ['good' < 'bad']

In [17]:
df.max(axis=0) # 행끼리 비교

A       10.000000
B        1.326304
ln_A     2.302585
dtype: float64

In [18]:
df.max(axis=1) # 열끼리 비교

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7     8.0
8     9.0
9    10.0
dtype: float64

In [19]:
df.min(axis=0)

A       1.000000
B      -1.376455
ln_A    0.000000
dtype: float64

In [20]:
df.min(axis=1)

0   -0.144635
1   -0.398242
2    0.074269
3    0.093163
4   -0.142899
5    1.066992
6   -1.376455
7   -0.270155
8    1.326304
9   -0.109082
dtype: float64

- clip()

In [22]:
df['A']

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: A, dtype: int64

In [27]:
df['A'].clip(lower= -10, upper = 10)

0     5
1     5
2     5
3     5
4     5
5     6
6     7
7     8
8     9
9    10
Name: A, dtype: int64

In [28]:
df['B']

0   -0.144635
1   -0.398242
2    0.074269
3    0.093163
4   -0.142899
5    1.066992
6   -1.376455
7   -0.270155
8    1.326304
9   -0.109082
Name: B, dtype: float64

In [29]:
df['B'].clip(lower=1, upper=3)

0    1.000000
1    1.000000
2    1.000000
3    1.000000
4    1.000000
5    1.066992
6    1.000000
7    1.000000
8    1.326304
9    1.000000
Name: B, dtype: float64

- abx()

In [30]:
df['B']

0   -0.144635
1   -0.398242
2    0.074269
3    0.093163
4   -0.142899
5    1.066992
6   -1.376455
7   -0.270155
8    1.326304
9   -0.109082
Name: B, dtype: float64

In [32]:
# 절대값으로 변환
df['B'].abs()

0    0.144635
1    0.398242
2    0.074269
3    0.093163
4    0.142899
5    1.066992
6    1.376455
7    0.270155
8    1.326304
9    0.109082
Name: B, dtype: float64