In [5]:
import random as rd
import random
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22]

while len(a) > 0:
    temp = []
    if len(a) < 5:
        break
    for i in range(4):
        rd.shuffle(a)
        num = rd.choice(a[:4])
        temp.append(num)
        try:
            a.remove(num)
        except:
            pass
    print(temp)
print('남으신 분', a)

[17, 10, 21, 8]
[16, 11, 5, 2]
[3, 19, 6, 14]
[13, 12, 15, 4]
[7, 20, 22, 9]
남으신 분 [18, 1]

In [17]:
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22]

count = 1
while len(a) > 0:
    
    if count < 4:
        team = random.sample(a, 4)
    else:
        team = random.sample(a, 5)
        
    print(f"{count}조 = ",team)
    
    for val in team:
        a.remove(val)
        
    count += 1

1조 =  [20, 6, 5, 22]
2조 =  [3, 14, 11, 2]
3조 =  [15, 9, 19, 7]
4조 =  [16, 12, 13, 21, 10]
5조 =  [17, 1, 18, 4, 8]

In [14]:
team = random.sample(a, 4)
team

[5, 4, 10, 9]

In [18]:
import pandas as pd

In [23]:
df = pd.read_excel('./Class_B_1st_ProjectTeam.xlsx')
df

    번호    이름                 구글 이메일주소         연락처
0    1   구세은        koossen@gmail.com  1027983913
1    2   김강산     rkdtks3783@naver.com  1063273783
2    3   김유정       deokku04@gmail.com  1097295719
3    4   김홍비     hongbi1620@gmail.com  1050161620
4    5  남궁정후  namgungjunghu@gmail.com  1041949522
5    6   박건희       geon4415@gmail.com  1099534415
6    7   박상우  alvinpark0904@gmail.com  1072320669
7    8   박현우       k3vin527@gmail.com  1054437294
8    9   배동현     asdzxc5546@gmail.com  1057795546
9   10   성연재      duswo1222@gmail.com  1099904042
10  11   송종호        sjh7397@gmail.com  1033637397
11  12   양동욱     ehddnr1619@gmail.com  1029581852
12  13   양수지        sueji95@gmail.com  1056269752
13  14   윤건우       ygw0616g@gmail.com  1082149288
14  15   이서현  dltjgus981030@gmail.com  1045969820
15  16   이시내      sinae1999@gmail.com  1083326948
16  17   이재호      im4172002@gmail.com  1095500417
17  18   이탁형        tlswhfl@gmail.com  1094862118
18  19   정영훈       gi676788@gmail.com  1045565367
19  20   조한솔    whgksthf920@gmail.com  1086991541
20  21   조혜원     hwcho55.55@gmail.com  1035597655
21  22   황인규      nadainkyu@gmail.com  1042945030

In [32]:
key = df.번호
key = list(key)
key

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [26]:
values = df.이름

In [31]:
values = list(values)
values

['구세은',
 '김강산',
 '김유정',
 '김홍비',
 '남궁정후',
 '박건희',
 '박상우',
 '박현우',
 '배동현',
 '성연재',
 '송종호',
 '양동욱',
 '양수지',
 '윤건우',
 '이서현',
 '이시내',
 '이재호',
 '이탁형',
 '정영훈',
 '조한솔',
 '조혜원',
 '황인규']

In [34]:
dictionary = {}
dictionary

{}

In [35]:
dictionary.update(zip(key, values))

In [36]:
dictionary

{1: '구세은',
 2: '김강산',
 3: '김유정',
 4: '김홍비',
 5: '남궁정후',
 6: '박건희',
 7: '박상우',
 8: '박현우',
 9: '배동현',
 10: '성연재',
 11: '송종호',
 12: '양동욱',
 13: '양수지',
 14: '윤건우',
 15: '이서현',
 16: '이시내',
 17: '이재호',
 18: '이탁형',
 19: '정영훈',
 20: '조한솔',
 21: '조혜원',
 22: '황인규'}

In [37]:
df = pd.read_excel('./Class_B_1st_ProjectTeam.xlsx')

key = df.번호
key = list(key)

values = df.이름
values = list(values)

dictionary = {}
dictionary.update(zip(key, values))

In [38]:
dictionary

{1: '구세은',
 2: '김강산',
 3: '김유정',
 4: '김홍비',
 5: '남궁정후',
 6: '박건희',
 7: '박상우',
 8: '박현우',
 9: '배동현',
 10: '성연재',
 11: '송종호',
 12: '양동욱',
 13: '양수지',
 14: '윤건우',
 15: '이서현',
 16: '이시내',
 17: '이재호',
 18: '이탁형',
 19: '정영훈',
 20: '조한솔',
 21: '조혜원',
 22: '황인규'}