In [1]:
from IPython.core.display import display, HTML
display(HTML(
"""<style>
div.container { width:100% !important; }
div.CodeMirror {font-family: Consolas; font-size: 16pt;}
div.output { font-size: 16pt; font-weight: bold;}
div.input { font-family: Consolas; font-size: 16pt;}
div.prompt { min-width: 100px;}
</style>
"""))

In [2]:
import random

In [3]:
random.seed(10)

In [4]:
inds = random.sample(range(150), int(150*0.7))

In [5]:
import seaborn as sns

In [6]:
iris = sns.load_dataset("iris")

In [7]:
train = iris.loc[inds, :]

In [8]:
train.head()

     sepal_length  sepal_width  petal_length  petal_width    species
146           6.3          2.5           5.0          1.9  virginica
8             4.4          2.9           1.4          0.2     setosa
109           7.2          3.6           6.1          2.5  virginica
123           6.3          2.7           4.9          1.8  virginica
3             4.6          3.1           1.5          0.2     setosa

In [9]:
train.sort_index(inplace=True)

In [10]:
train.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
7           5.0          3.4           1.5          0.2  setosa

In [11]:
test = iris.loc[~iris.index.isin(train.index)]

In [12]:
test.sort_index(inplace=True)

In [13]:
test.head()

    sepal_length  sepal_width  petal_length  petal_width species
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
6            4.6          3.4           1.4          0.3  setosa
13           4.3          3.0           1.1          0.1  setosa
16           5.4          3.9           1.3          0.4  setosa

In [14]:
train = iris.sample(frac=0.7)

In [15]:
train.head()

     sepal_length  sepal_width  petal_length  petal_width     species
45            4.8          3.0           1.4          0.3      setosa
101           5.8          2.7           5.1          1.9   virginica
140           6.7          3.1           5.6          2.4   virginica
74            6.4          2.9           4.3          1.3  versicolor
49            5.0          3.3           1.4          0.2      setosa

In [16]:
test = iris.loc[~iris.index.isin(train.index)]

In [17]:
train.shape, test.shape

((105, 5), (45, 5))

In [18]:
X = iris.iloc[:,:-1]
y = iris.iloc[:,-1]

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
train_X, test_X, train_y, test_y = train_test_split(X, y,
                                test_size=0.3)

In [21]:
train_X.shape, test_X.shape

((105, 4), (45, 4))

In [22]:
test_y.value_counts()

versicolor    20
setosa        13
virginica     12
Name: species, dtype: int64

In [23]:
train_X, test_X, train_y, test_y = train_test_split(X, y,
                            test_size=0.3, stratify=y)

In [24]:
train_y.value_counts()

virginica     35
setosa        35
versicolor    35
Name: species, dtype: int64

In [25]:
test_y.value_counts()

virginica     15
setosa        15
versicolor    15
Name: species, dtype: int64

In [26]:
train_X, test_X = train_test_split(X, test_size=0.3)

In [27]:
train_y, test_y = train_test_split(y, test_size=0.3)