In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
df.apply?
# 순환가능한 데이터 타입에 함수를 적용 시킬때 사용
df.apply(lambda x : x[0])

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
dtype: object

In [6]:
df.apply(lambda x : x[1])

sepal_length       4.9
sepal_width        3.0
petal_length       1.4
petal_width        0.2
species         setosa
dtype: object

In [7]:
df['species'].apply(lambda x: x[0])

0      s
1      s
2      s
3      s
4      s
      ..
145    v
146    v
147    v
148    v
149    v
Name: species, Length: 150, dtype: object

In [8]:
df['species'].apply(lambda x: x[:3])

0      set
1      set
2      set
3      set
4      set
      ...
145    vir
146    vir
147    vir
148    vir
149    vir
Name: species, Length: 150, dtype: object

In [9]:
df['species_3'] = df['species'].apply(lambda x: x[:3])

     sepal_length  sepal_width  petal_length  petal_width    species species_3
0             5.1          3.5           1.4          0.2     setosa       set
1             4.9          3.0           1.4          0.2     setosa       set
2             4.7          3.2           1.3          0.2     setosa       set
3             4.6          3.1           1.5          0.2     setosa       set
4             5.0          3.6           1.4          0.2     setosa       set
..            ...          ...           ...          ...        ...       ...
145           6.7          3.0           5.2          2.3  virginica       vir
146           6.3          2.5           5.0          1.9  virginica       vir
147           6.5          3.0           5.2          2.0  virginica       vir
148           6.2          3.4           5.4          2.3  virginica       vir
149           5.9          3.0           5.1          1.8  virginica       vir

[150 rows x 6 columns]

In [10]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species species_3
0           5.1          3.5           1.4          0.2  setosa       set
1           4.9          3.0           1.4          0.2  setosa       set
2           4.7          3.2           1.3          0.2  setosa       set
3           4.6          3.1           1.5          0.2  setosa       set
4           5.0          3.6           1.4          0.2  setosa       set

In [12]:
def smp(x):
    x= x[-3:]
    return x

In [14]:
df['species_3'] = df['species'].apply(lambda x:x[:3])

In [17]:
df['species-3'] = df['species'].apply(smp)

In [18]:
df.head()

,sepal_length,sepal_width,petal_length,petal_width,species,species_3,species-3
0,5.1,3.5,1.4,0.2,setosa,osa,osa
1,4.9,3.0,1.4,0.2,setosa,osa,osa
2,4.7,3.2,1.3,0.2,setosa,osa,osa
3,4.6,3.1,1.5,0.2,setosa,osa,osa
4,5.0,3.6,1.4,0.2,setosa,osa,osa