In [10]:
import pandas as pd
adf = pd.DataFrame({'x1': ['A','B','C'],'x2': [1, 2, 3]})
adf

  x1  x2
0  A   1
1  B   2
2  C   3

In [16]:
bdf = pd.DataFrame({'x1': ['A','B','D'],'x3': ['T', 'F', 'T']})
bdf

  x1 x3
0  A  T
1  B  F
2  D  T

In [17]:
pd.merge(adf, bdf, how='left', on='x1')

  x1  x2   x3
0  A   1    T
1  B   2    F
2  C   3  NaN

In [18]:
pd.merge(adf, bdf, how='right', on='x1')

  x1   x2 x3
0  A  1.0  T
1  B  2.0  F
2  D  NaN  T

In [19]:
pd.merge(adf, bdf, how='inner', on='x1')

  x1  x2 x3
0  A   1  T
1  B   2  F

In [20]:
pd.merge(adf, bdf, how='outer', on='x1')

  x1   x2   x3
0  A  1.0    T
1  B  2.0    F
2  C  3.0  NaN
3  D  NaN    T

## filtering join

In [21]:
adf.x1

0    A
1    B
2    C
Name: x1, dtype: object

In [22]:
bdf.x1

0    A
1    B
2    D
Name: x1, dtype: object

In [24]:
adf[adf.x1.isin(bdf.x1)]

  x1  x2
0  A   1
1  B   2

In [25]:
adf[~adf.x1.isin(bdf.x1)]

  x1  x2
2  C   3